{{> header}}
<p class="intro">I love climbing but, unfortunately, this doesn't help me bring home the
  bacon.<br>For this reason, I spend most of my time working as software engineer.</p>
<section id="main" class="grid grid-pad">
  <div class="col-1-2">
    <header class="hgroup">
      <h2>Twitter</h2>
      <h3>my tweets <a class="more" href="https://twitter.com/granze">more</a>
      </h3>
    </header>
    <ul class="feed" id="twitter">
      {{#twitter}}
        <li>
          <span class="date">{{date}}</span> - {{text}} | <a href="https://twitter.com/granze/status/{{id}}">details</a>
        </li>
      {{/twitter}}
    </ul>
  </div>
  <div class="col-1-2">
    <header class="hgroup">
      <h2>Medium</h2>
      <h3>My blog posts <a class="more" href="https://medium.com/@granze">more</a></h3>
    </header>
    <ul class="feed" id="medium">
      {{#medium}}
        <li><span class="date">{{time_ago}}</span> - <a href="{{url}}">{{title}}</a></li>
      {{/medium}}
    </ul>
    <header class="hgroup">
      <h2>Github</h2>
      <h3>my Github activities <a class="more" href="https://github.com/Granze?tab=activity">more</a></h3>
    </header>
    <ul class="feed" id="github">
      {{#github}}
        <li><span class="date">{{time_ago}}</span> - {{title}}</li>
      {{/github}}
    </ul>
  </div>
</section>
{{> footer}}
