<!DOCTYPE html>
<html>
<head>
  <title>Maurizio Mangione A.K.A. Granze</title>
  <meta charset="utf-8">
  <meta name="description" content="Personal website of Maurizio Mangione A.K.A. Granze">
  <meta name="keywords" content="Maurizio Mangione, Granze, climbing, front end, developer, javascript, jquery, UI, user interface, html5, css3">
  <meta name="author" content="Maurizio Mangione">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet'>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/favicon.ico">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<header id="main-header" class="shadow-top">
  <h1 class="wrapper"><a href="/">Granze</a></h1>
</header>
<div class="wrapper">
  <section id="main" class="pure-g-r">
    <p class="intro pure-u-1 inner-box">I love climbing but, unfortunately, this doesn't help me bring home the
      bacon.<br>For this reason, I spend most of my time working as software engineer.</p>
    <div class="pure-u-1-2">
      <div class="inner-box">
        <h2>Twitter</h2>
        <ul class="feed" id="twitter">
            {{#twitter}}
              <li>
                <span class="date">{{date}}</span> - {{text}} | <a href="https://twitter.com/granze/status/{{id}}">details</a>
              </li>
            {{/twitter}}
        </ul>
        <div class="btn-twitter">
          <a href="https://twitter.com/granze" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @granze</a>
          <script>
            !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = "//platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "twitter-wjs");
          </script>
        </div>
        <h2>Github</h2>
        <ul class="feed" id="github">
          {{#github}}
            <li><span class="date">{{time_ago}}</span> - {{title}}</li>
          {{/github}}
        </ul>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="inner-box">
        <h2>8a.nu</h2>
        <ul class="feed" id="ottoa">
            {{#ottoa}}
              <li><span class="date">{{date}}</span> - {{route}} <strong class="grade">{{grade}}</strong> <em class="crag">({{crag}})</em></li>
            {{/ottoa}}
        </ul>
        <h2>Last.fm</h2>
        <ul class="feed" id="lastfm">
            {{#lastfm}}
              <li><a href="{{url}}">{{title}}</a></li>
            {{/lastfm}}
        </ul>
      </div>
    </div>
  </section>
</div>
<footer class="inner-box">
  <div class="wrapper">
    <div class="contacts">
      <a href="https://github.com/Granze">&#xe001;</a>
      <a href="http://www.linkedin.com/in/granze">&#xe004;</a>
      <a href="http://vimeo.com/granze">&#xe000;</a>
      <a href="https://twitter.com/#!/granze">&#xe005;</a>
      <a href="http://last.fm/user/granzebru">&#xe003;</a>
      <a href="https://plus.google.com/u/0/104973120103840514441">&#xe006;</a>
      <a href="https://www.facebook.com/granze">&#xe002;</a>
    </div>
    <p class="credits">Granze.net is powered by: <a href="http://nodejs.org/">Node.js</a> and <a href="http://expressjs.com/">Express</a></p>
  </div>
</footer>
</body>
</html>
<!--
     GRANZE V2 - NODE/EXPRESS VERSION

                 uuuuuuu
             uu$$$$$$$$$$$uu
          uu$$$$$$$$$$$$$$$$$uu
         u$$$$$$$$$$$$$$$$$$$$$u
        u$$$$$$$$$$$$$$$$$$$$$$$u
       u$$$$$$$$$$$$$$$$$$$$$$$$$u
       u$$$$$$$$$$$$$$$$$$$$$$$$$u
       u$$$$$$"   "$$$"   "$$$$$$u
       "$$$$"      u$u       $$$$"
        $$$u       u$u       u$$$
        $$$u      u$$$u      u$$$
         "$$$$uu$$$   $$$uu$$$$"
          "$$$$$$$"   "$$$$$$$"
            u$$$$$$$u$$$$$$$u
             u$"$"$"$"$"$"$u
  uuu        $$u$ $ $ $ $u$$       uuu
 u$$$$        $$$$$u$u$u$$$       u$$$$
  $$$$$uu      "$$$$$$$$$"     uu$$$$$$
u$$$$$$$$$$$uu    """""    uuuu$$$$$$$$$$
$$$$"""$$$$$$$$$$uuu   uu$$$$$$$$$"""$$$"
 """      ""$$$$$$$$$$$uu ""$"""
           uuuu ""$$$$$$$$$$uuu
  u$$$uuu$$$$$$$$$uu ""$$$$$$$$$$$uuu$$$
  $$$$$$$$$$""""           ""$$$$$$$$$$$"
   "$$$$$"                      ""$$$$""
     $$$"                         $$$$"

-->