<!DOCTYPE html>
<html>
  <head>
    <head>
      <title>Maurizio Mangione A.K.A. Granze</title>
      <meta charset="utf-8">
      <meta name="description" content="Personal website of Maurizio Mangione A.K.A. Granze">
      <meta name="keywords" content="Maurizio Mangione, Granze, climbing, front end, developer, javascript, jquery, UI, user interface, html5, css3">
      <meta name="author" content="Maurizio Mangione">
      <meta name="viewport" content="width=device-width, maximum-scale=1.0">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans|Bree+Serif" rel="stylesheet">
      <link rel="stylesheet" href="/components/sass-bootstrap/bootstrap-2.3.1.min.css">
      <link rel="stylesheet" href="/components/sass-bootstrap/bootstrap-responsive-2.3.1.min.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="shortcut icon" href="/favicon.ico">
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>
  </head>
  <body class="container">
    <header class="row">
      <h1>Granze</h1>
    </header>
      <section class="row" id="main">
        <div class="span6">
          <a class="twitter-timeline" href="https://twitter.com/granze" data-widget-id="297403221943648256">Tweets by @granze</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="span6">
          <h2>8a.nu</h2>
          <ul id="ottoa" class="unstyled">
            {{#ottoa}}
            <li>{{route}} <strong>{{grade}}</strong> - <em>{{crag}}</em></li>
            {{/ottoa}}
          </ul>
          <h2>Last.fm</h2>
          <ul id="lastfm" class="unstyled">
            {{#lastfm}}
            <li><a href="{{url}}">{{title}}</a></li>
            {{/lastfm}}
          </ul>
          <h2>Github</h2>
          <ul id="github" class="unstyled">
            {{#github}}
            <li>{{title}} - <em>{{time_ago}}</em></li>
            {{/github}}
          </ul>
        </div>
      </section>
    <footer class="row">footer</footer>
  </body>
</html>